<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"><head id="j_idt3"><link type="text/css" rel="stylesheet" href="/NeumannlabsPortalV5/javax.faces.resource/theme.css?ln=primefaces-mytheme"><link type="text/css" rel="stylesheet" href="/NeumannlabsPortalV5/javax.faces.resource/fa/font-awesome.css?ln=primefaces&amp;v=7.0"><link type="text/css" rel="stylesheet" href="/NeumannlabsPortalV5/javax.faces.resource/primeicons/primeicons.css?ln=primefaces&amp;v=7.0"><link type="text/css" rel="stylesheet" href="/NeumannlabsPortalV5/javax.faces.resource/css/NeumannlabsPortal.aggr.css"><script type="text/javascript">if(window.PrimeFaces){PrimeFaces.settings.locale='hu';}</script>

    <title>Easy HPV Test | Leletközlő portál</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!--  &lt;link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&amp;amp;display=swap" rel="stylesheet"/&gt; --><script type="text/javascript" src="/NeumannlabsPortalV5/javax.faces.resource/js/NeumannlabsPortal.aggr.js"></script>

    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">


    <link rel="shortcut icon" href="/NeumannlabsPortalV5/javax.faces.resource/icon.png?ln=images" type="image/png"></head><body class="coverBackground">



<div class="ui-fluid  p-grid p-justify-center p-pt-md-3" style="height:100%">
    <div class="p-col" style="max-width: 1024px">
        <form id="j_idt11" name="j_idt11" method="post" action="/NeumannlabsPortalV5/validate/EFF38C47D94A7A03C79010A46C670912" enctype="application/x-www-form-urlencoded" style="display: initial;">
            <input type="hidden" name="j_idt11" value="j_idt11">

            <div class="ui-fluid  p-d-flex p-flex-column p-jc-between" style="height:100%">
                <div>
                    <div class="p-grid p-align-center p-d-flex p-ai-start p-ai-md-center p-mt-1 p-mt-md-3 ">
                        <div class="p-col-6 p-md-3 p-lg-3 "><img id="j_idt13" src="/NeumannlabsPortalV5/javax.faces.resource/easy_testing_logo.png.xhtml?ln=images" class="logo-image" alt="Neumann Labs Easy Testing" width="200" style="max-width:200px; width:100%">
                        </div>
                        <div class="p-col-6 p-md-5 p-lg-5 p-md-offset-4 ">

                        </div>

                    </div>

                    <div class="p-grid p-mt-2  p-mt-md-5">
                        <div class="p-col-12 p-md-12 p-lg-12 text-center">
                            <h2 class="text-primary p-mt-0 ">
                                Neumannlabs Certification
                            </h2>
                            <p class="text-center">
                                You can verify the QR code information below.
                            </p>
                        </div>
                        <div class="p-col-12 p-md-12 p-lg-12 text-center p-mt-1 p-mt-md-1">
                            <div class="p-grid p-justify-center ">
                                <div class="p-col p-p-2 p-p-md-3 p-m-1" style="max-width: 350px;                                                         background-color: #ffffffff;                                                         border-radius: 0.5em;                                                         box-shadow: 3em;                                                         text-align: left;">
                                    <div class="ui-g">

                                        <div class="ui-g-12">Patient name: Józsa-Teleki György Csaba<br>Birthdate: 1969. 09. 05. 00:00<br>SIN: 028921963<br>=====<br>Test: SARS-CoV-2 IgG<br>Sampling date: 2021. 09. 17. 10:39<br>Eval. date: 2021. 09. 20. 19:12<br>Result: &lt; 0.5 U/ml (&lt;1.00)<br>=====<br>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <small>
                    <div class="text-center">Amennyiben kérdése lenne, megtalál minket az alábbi elérhetőségeken: web:&nbsp;<a href="http://neumannlabs.com">neumannlabs.com</a>, e-mail:&nbsp;<a href="mailto:kerdes@neumannlabs.com">kerdes@neumannlabs.com</a>&nbsp;
                        © 2020. Neumann Diagnostics. Minden jog fenntartva.
                    </div>
                </small>



            </div><input type="hidden" name="javax.faces.ViewState" id="j_id1:javax.faces.ViewState:0" value="6212669572900702391:-4659626762884936356" autocomplete="off">
        </form>
    </div>

</div>
</body></html>